*{
    list-style-type: none;
}
#topnav{
    background: fixed;
    background-color: black;
    color: beige;
    display: flex;
    box-sizing: border-box;
    margin: 5;
    padding: 2%;
    margin-bottom: 2%;
}
.navtext{
    margin: 12px;
}
ul{
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 4rem;

}
hr{
    height: 5px;
    background-color: #DEAA0E;
}
#mysite{
    margin-left: 1%;
    color: beige;
    background-color: black;
}
.sitetext{
    display: block;
    float: right;
    margin-top: 4%;
    margin-right: 7%;
    font-size: larger;
    font-family: sans-serif;
}