*{
    list-style-type: none;
}
#topnav{
    background: fixed;
    background-color: black;
    color: beige;
    display: flex;
    box-sizing: border-box;
    margin: 0.5%;
    padding: 2%;
    margin-bottom: 2%;
}
.navtext{
    margin: 12px;
}
ul{
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 4rem;

}
hr{
    height: 5px;
    background-color: #DEAA0E;
    margin-left: 0.5%;
}
#mysite{
    margin-left: 0.5%;
    color: beige;
    background-color: black;
    
}
.sitetext{
    display: block;
    float: right;
    margin-top: 4%;
    margin-right: 7%;
    font-size: larger;
    font-family: sans-serif;
}
#about{
    color: beige;
    background-image: url(../images/about1.jpg);
    background-size: cover; height:500px; padding-top:80px;
    padding: 20px; 
    margin-left: 0.5%; 
}
.abouttext{
    margin-left: 15%;
    font-size: xx-large;
   
}
#meal{
    margin-top: 2%;
}
.mealtext{
    
    color: beige;
    background-color: black;
}
.form{
    display: inline-block;
}
#contact{
    color: beige;
    background-color: black;
}
.contacthead{
    text-align: center;
    font-size: x-large;

}
.form{
    margin-left: 5%;
    font-size: large;
}